{
  "extends": [
    "react-app",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "import/no-anonymous-default-export": [
      "error",
      {
        "allowArray": false,
        "allowArrowFunction": true,
        "allowAnonymousClass": true,
        "allowAnonymousFunction": false,
        "allowCallExpression": true,
        "allowLiteral": false,
        "allowObject": true
      }
    ],
    "react-hooks/exhaustive-deps": "off",
    "no-useless-escape": "off"
  }
}